body {
	font-family: "Source Sans Pro";
}

/*PAGE HEADER*/
#page-header {
	background-color: black;
	padding: 20px 30px 50px 30px;
	border-bottom: 4px solid yellow;
}

h1 a {
	color: yellow;
	font-family: "Merriweather", serif;
	font-size: 30px;
	text-decoration: none;
	display: inline-block;
	float: left;
	line-height: 32px;
}

nav {
	float: right;
}

nav a {
	text-decoration: none;
	color: white;
	margin-right: 15px;
	margin-top: 10px;
	line-height: 32px;
}

nav a:last-child {
	margin-right: 0;
}

nav a:hover {
	color: white;
	border-bottom: 2px solid yellow;
	transition: 0.3s ease;
}

#menu-toggle {
	display: none;
	color: white;
	float: right;
	line-height: 32px;
	font-size: 26px;
}

#responsive-menu {
	display: none;
	width: 100%;
	top: 70px;
	right: 0;
	left: 0;
	position: absolute;
}

#responsive-menu a {
	background-color: black;
	padding: 2% 4%;
	color: white;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #191919;
}

#responsive-menu a:hover {
	background-color: #191919;
	transition: 0.3s ease;
	color: yellow;
}

/*TAGLINE*/
p.tagline {
	font-family: "Merriweather", serif;
	font-size: 25px;
	background: #C6C6C6;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 15px 0px;
	font-style: italic;
	margin-top: 0px;
}

#taste {
	text-decoration: line-through;
	color: gray;
}

#are {
	border-bottom: 2px solid yellow;
}

/*BANNER*/
.banner {
	padding: 90px 60px;
	overflow: auto;
	background-image: url("../images/coworking.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -222px;
}

.blurb {
	background-color: rgba(255,255,255, 0.7);
	padding: 3%;
	border: 1px solid black;
	float: right;
	width: 30%;
}

#blurb-responsive {
	background-color: rgba(254, 249, 49, 0.7);
	width: 78%;
	display: none;
	float: none;
	padding: 7% 11%;
	text-align: center;
}

p {
	line-height: 30px;
	margin-top: 10px;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-family: "Merriweather", serif;
	font-size: 25px;
}

.blurb-btn {
	background-color: yellow;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	color: black;
	text-align: center;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 gray;
	padding: 15px 40px;
	margin-top: 15px;
	width: auto;
}

.blurb-btn:hover {
	background-color: #E6E600;
	transition: 0.3s ease;
}

/*CALLOUTS*/
.callouts {
	margin: 30px 0px;
	overflow: auto;
}

.callout {
	float: left;
	width: 27.26%;
	padding: 3%;
	background-color: white;
	border-right: 1px solid #e6e6e6;
}

.callout:last-child {
	border-right: none;
}

.callout-btn {
	background-color: #C6C6C6;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	color: black;
	text-align: center;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 0 0 gray;
	padding: 10px 30px;
	margin-top: 15px;
	width: 100%;
}

.callout-btn:hover {
	background-color: #b2b2b2;
	transition: 0.3s ease;
}


/*FOOTER*/
.wrapper {
	color: white;
	margin-left: 40px;
	font-size: 14px;
	
}

footer {
	background-color: black;
	width: 100%;
	padding: 20px 0px;
	position: relative;
	clear: both;
}

/*RESPONSIVE STYLE*/
@media only screen and (max-width: 1106px) {
	.banner {
		padding: 85px 60px;
	}
	.blurb {
		width: 40%;
	}
} 

@media only screen and (max-width: 1050px) {
	.banner {
		padding: 65px 60px;
		background-position: 0px -160px;
	}
	.blurb {
		width: 40%;
	}
} 

@media only screen and (max-width: 980px) {
	.banner {
		padding: 53px 60px;
	}
	h3 {
		font-size: 22px;
	}
	.banner {
		background-position: 0px -160px;
	}
	.blurb {
		width: 40%;
	}
} 

@media only screen and (max-width: 950px) {
	p {
		line-height: 26px;
	}
	h3 {
		font-size: 20px;
	}
	.banner {
		background-position: 0px -140px;
	}
	.blurb {
		width: 40%;
	}
	.callouts {
		margin: 30px 20px;
	}
}

@media only screen and (max-width: 880px) {
	p {
		line-height: 26px;
	}
	h3 {
		font-size: 20px;
	}
	.banner {
		background-position: 0px -140px;
	}
	.callout {
		float: none;
		width: auto;
		border-bottom: 1px solid #e6e6e6;
	}
	.callout-btn {
		width: 200px;
	}
	nav {
		display: none;
	}
	#menu-toggle {
		display: block;
	}
	.callouts {
		margin: 30px 20px;
	}
}

@media only screen and (max-width: 780px) {
	nav {
		display: none;
	}
	#menu-toggle {
		display: block;
	}
	.banner {
		padding: 35px 50px;
	}
	.callouts {
		margin: 30px 20px;
	}
	h1 a {
		font-size: 26px;
		line-height: 30px;
	}
	p.tagline {
		font-size: 20px;
	}
}

@media only screen and (max-width: 700px) {
	nav {
		display: none;
	}
	#menu-toggle {
		display: block;
		line-height: 30px;
	}
	.banner {
		padding: 35px 50px;
	}
	.callouts {
		margin: 30px 20px;
	}
	.blurb {
		display: none;
	}
	#blurb-responsive {
		display: block;
	}
	.blurb-btn {
		width: 30%;
		margin: 2% auto;
		background-color: black;
		color: white;
		letter-spacing: 0.08em;
	}
	.blurb-btn:hover {
		background-color: #333;
	}
	.banner {
		padding: 0;
		background-position: 0px -100px;
	}
}

@media only screen and (max-width: 574px) {
	body {
		text-align: center;
	}
	.banner {
		background-position: 0px -80px;
	}
	h1 a {
		font-size: 22px;
	}
	p.tagline {
		font-size: 18px;
	}
	#responsive-menu a {
		padding: 2.5% 5%;
		text-align: left;
	}
	.blurb-btn {
		font-size: .8em;
		width: 30%;
		padding: 3% 5%;
	}
	.callouts {
		margin: 0;
	}
	.callout {
		padding: 7% 15%;
		width: auto;
		border-right: none;
		border-bottom: 1px solid #e6e6e6;
	}
	.callout-btn {
		width: auto;
		font-size: 0.7em;
	}
	h3 {
		font-size: 1.1em;
	}
	p {
		font-size: 1em;

	}
}

@media only screen and (max-width: 500px) {
	.banner {
		background-position: 0px -50px;
	}
}

@media only screen and (max-width: 477px) {
	.banner {
		background-position: 0px -45px;
	}
	.wrapper {
		font-size: 12px;
	}
}

@media only screen and (max-width: 460px) {
	.banner {
		background-position: 0px -20px;
	}
	.blurb-btn {
		width: 47%;
		padding: 3% 2%;
	}
	p.tagline {
		font-size: 16px;
	}
	.wrapper {
		font-size: 12px;
	}
}

@media only screen and (max-width: 410px) {
	.banner {
		background-image: none;
	}
	.blurb-btn {
		margin-top: 5%;
		margin-bottom: 2%;
	}
	#blurb-responsive {
	background-color: rgb(254, 249, 49);
	}
	.wrapper {
		font-size: 12px;
	}
}


